<table>
  <% 50.times do |col| %>
    <tr>
      <% 20.times do |row| %>
        <% index = col * 20 + row %>
        <td>
          <% if @spots[index] %>
            <%= link_to image_tag(@spots[index].profile.thumbnail_path), profile_path(@spots[index].profile) %>
          <% else %>
            <%= link_to image_tag("default_profile_s.png"), new_profile_path(:spot_position => index) %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
