<p>
  <%= link_to 'Link do wizytówki', @profile.url, :target => '_blank' %>
</p>

<script type="text/javascript">
  evalScript('<%= escape_javascript(@profile.html) %>');
</script>
<div id="widget_"></div>