<h1>FAQ</h1>

<p>
  <b>Pytanie:</b><br/>
  <i>
    Co muszę zrobić żeby dodać wizytówkę na stronę główną?
  </i>
  <br/>
  <b>Odpowiedź:</b><br/>
  <i>
    Musisz posiadać konto w portalu NK.pl, gdzie należy utworzyć wizytówkę - <br/>
    używając linku 'Widżety' na dole strony, wybierając kolejno 'Wizytówka' i przechodząc przez kolejne kroki. <br/>
    Na końcu otrzymany <u>link do wizytówki</u> oraz <u>kod html</u> wklejamy w formularzu na naszej stronie - <br/>
    po uprzednio wybranym dla siebie miejscu na stronie głównej.
  </i>
</p>

<p>
  <b>Pytanie:</b><br/>
  <i>
    Czy mogę dodać kilka razy moją wizytówkę?
  </i>
  <br/>
  <b>Odpowiedź:</b><br/>
  <i>
    Możesz posiadać maksymalnie trzy "aktywne" wizytówki.
  </i>
</p>

<p>
  <b>Pytanie:</b><br/>
  <i>
    Co to znaczy "aktywne wizytówki"?
  </i>
  <br/>
  <b>Odpowiedź:</b><br/>
  <i>
    Są to takie wizytówki, które są widoczne na stronie głównej.
  </i>
</p>

<p>
  <b>Pytanie:</b><br/>
  <i>
    Jak długo moja wizytówka pozostanie na stronie głównej?
  </i>
  <br/>
  <b>Odpowiedź:</b><br/>
  <i>
    Wizytówka jest "aktywna", to znaczy jest wyświetlana na stronie głównej, przez kolejne 30 dni od momentu jej dodania.
  </i>
</p>

<p>
  <b>Pytanie:</b><br/>
  <i>
    Nie widzę odpowiedzi na nurtujące mnie pytanie?
  </i>
  <br/>
  <b>Odpowiedź:</b><br/>
  <i>
    Zadaj je nam osobiście, używając formularza na stronie <%= link_to 'Kontakt', new_feedback_path %>
  </i>
</p>
