<h1>Dlaczego?</h1>

<p>
  <b>
    Pokaż się całemu światu, zabłyśnij, będąc jedną z wyjątkowych 1000 osób.
  </b>
</p>

<p>
  <b>
    Dzięki nam szybciej znajdziesz ciekawych przyjaciół, kolegów i koleżanki, a może nawet swoją miłość.
  </b>
</p>

<p>
  <b>
    Udowodnij innym jaki jesteś fajny!
  </b>
</p>

<h1>Jak to działa?</h1>

<p>
  <b>
    Wybierz jedno z wolnych miejsc dla Twojej wizytówki,<br/>
    a będzie ona pokazywana przez kolejne 7 dni.
  </b>
</p>

<h5>
  Jeżeli nie wiesz jak zacząć, zajrzyj do działu <%= link_to 'FAQ', faq_path %>,<br/>
  gdzie staraliśmy się odpowiedzieć na najważniejsze pytania.
</h5>