<h1>Dlaczego?</h1>

<p>
  <b>
    Masz niepowtarzalną okazję pokazać się całemu światu, zabłysnąć, będąc jedną z 1000 osób, <br/>
    które znalazły się w galerii na stronie głównej.
  </b>
</p>

<p>
  <b>
    Wybierze jedno z 1000 wolnych miejsc na stronie głównej dla Twojej wizytówki,<br/>
    a będzie ona pokazywana przez kolejne 7 dni.
  </b>
</p>

<h5>
  Jeżeli nie wiesz jak zacząć, zajrzyj do działu <%= link_to 'FAQ', faq_path %>,<br/>
  gdzie staraliśmy się odpowiedzieć na najważniejsze pytania.
</h5>