<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>NKBook.pl</title>
    <!-- <script type="text/javascript" src="javascripts/prototype.js"></script>
    <script type="text/javascript" src="javascripts/scriptaculous.js?load=effects,builder"></script> -->
    <%= stylesheet_link_tag 'scaffold' %>
  </head>
  <body>
    <div>
      <% if flash[:notice] -%>
        <p style="color: green"><%= flash[:notice] %></p>
        <% flash[:notice] = nil %>
      <% end -%>
      <% if flash[:error] %>
        <p style="color: red"><%= flash[:error] %></p>
        <% flash[:error] = nil %>
      <% end %>
    </div>

    <div>
      <%= yield %>
    </div>

    <%# render :partial => 'shared/google_analytics' %>
  </body>
</html>
